
.contenedorFlex{
    display: flex;
}
.ContenedorMain{
 border: 1px salmon solid;
 width: 50%;
 height: 100vh;
 ;
}

.Contenedor1{
    border: 1px salmon solid;
    width: 25%;
    height: 100vh;
    }



.Contenedor3{
    border: 1px salmon solid;
    width: 25%;
    height: 100vh;
    
}

.float{
    float: right;
    height: 100vh;
    border: 1px
    
}

.abajo{
    border-radius: 10px;
    margin-top: 230px;
    height: 5vh;
    background-color: white;
    box-shadow: 0 0 6px hsl(210 14% 90%);
    padding: 10px;
}