
.contenedorFlex{
    display: flex;
}
.ContenedorMain{
 
 width: 50%;
 height: 100vh;
 ;
}

.Contenedor1{
    
    width: 25%;
    height: 100vh;
    }



.Contenedor3{
   
    width: 25%;
    height: 100vh;
    
}

.float{
    float: right;
    height: 100vh;
    border: 1px
    
}

.abajo{
    border-radius: 10px;
    margin-top: 230px;
    height: 5vh;
    margin-right: 4px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 6px hsl(210 14% 90%);
    padding: 10px;
}