.sidebar{
    width: 150px;
    min-width: 250px;
    padding: 20px 20px;
    box-shadow: 0 0 6px hsl(210 14% 90%);
    margin-right: 4px;
   
      }

.icon{
 width: 60px;
 height: 80px;
 margin-left: 20px;
}

.b1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    border: none;
    font-size: 14px;
    color: white;
    padding: 15px 80px;
}

.avatar1{
  width: 60px;
  height: 60px;
  margin-right: 4px;
  
}


.p1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 50;
    color: #dd8411;
    font-size: 15px;
}

.p2{
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  color: #bbbbbb;
  font-size: 12px;
  }
  